@model TravelAgency.Model.TravelAgencyBranch
@{
    ViewBag.Subtitle = Model.AgencyName;
    ViewBag.Title= Model.Name;
}


<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Address</div>
            <div class="panel-body">
                <h3>@Model.Address</h3>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Phone</div>
            <div class="panel-body">
                <h3>@Model.TelNo</h3>
            </div>
        </div>
    </div>
</div>

